.searchInput {
    position: relative;
    top: 40%;
    width: 500px;
    height: 40px;
    padding: 20px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: white;
}

.searchInput input {
    border: none;
    background: none;
    outline: none;
    color: black;
    font-size: 18px;
    width: 100%;
}