.searchInput {
    top: 40%;
    width: 500px;
    height: 40px;
    padding: 20px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: white;
}

.searchInput input {
    border: none;
    background: none;
    outline: none;
    color: black;
    font-size: 18px;
    width: 100%;
}

.dataResult {
    background: white;
    border-radius: 35px;
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
    display: none;
}

.dataItem {
    display: flex;
    align-items: center;
    padding: 24px 32px;
    gap: 16px;
}

.dataItem:hover {
    background-color: #c7ede8;
}