* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: linear-gradient(to left bottom, #176585, #097e9c, #0098af, #15b3bf, #36cecc);
    display: flex;
    justify-content: center;
    padding-top: 128px;
}

body, input, button {
    font-family: Poppins;
}